 .container-fluid{
            background-color: aqua;
            min-height: 100vh;
        }
        .navbar {
            background-color: orange;
            
            
        }
        .jeje{
            margin-top: 127px;
            padding: 20px;
            
        }
        .form-container {
            background-color: orange;
            border-radius: 15px;
            padding: 20px;
            margin: auto;
        }
        .form-container input {
            margin-bottom: 10px;
        }
        .form-title {
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }
        .text-link {
            color: #0000ee;
            text-align: center;
        }

        .navbar a{
  font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}